* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --dark: #020617;
    --medium: #0f172a;
    --light: #1e293b;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    background-color: var(--medium);
}

.dash-row {
    display: grid;
    width: 100%;
    background-color: var(--medium);
    color: white;
    height: 2rem;
    align-items: center;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
    background-color: var(--dark);
}

.header {
    display: flex;
    background-color: var(--light);
}

.search-bar {
    outline: 1px solid wheat;
    width: 60%;
}

.header-profile {
    outline: 1px solid aliceblue;
    width: 40%;
}

.actions {
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
}

.actions-profile {
    outline: 1px solid pink;
    width: 40%;
}

.actions-buttons {
    outline: 1px solid palevioletred;
    width: 40%;
}

.panels {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    display: grid;
    grid-row: 1 / span 2;
    outline: 1px solid cadetblue;
}

.announcements {
    outline: 1px solid green;
}

.trending {
    outline: 1px solid greenyellow;
}